<h4>Reactive: Switches</h4>
<hr>

<form >

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="radioGenero" 
                    id="radioMasculino"
                    value="M"
                  
                    >

                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
              </div>

              <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="radioGenero" 
                    id="radioFemenino"
                    value="F"
                  
                    >
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
              </div>


        </div>


    </div>


    <!-- Switches -->

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">

            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox" 
                    role="switch" 
                    id="switchesNotificaciones" 
                   
                    >
                <label class="form-check-label" 
                    for="switchesNotificaciones">¿Desea recibir notificaciones?</label>
              </div>


        </div>



        
    </div>

    <!-- Terminos y condiciones  -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox" value="" 
                    id="checkTerminos"
                   
                    >
                <label class="form-check-label" for="checkTerminos">
                 Términos y condiciones
                </label>
              </div>

        </div>

        
    </div>


    <!-- Botón -->
    <div class="row mb-3">
        <div class="col">
            <button 
              
                class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>


</form>


