
<h4 class="mt-2 ">Auth</h4>
<hr>

<ul class="list-group">
    <li *ngFor="let item of authMenu"
        [routerLink]="[item.ruta]"
        routerLinkActive="active"
        class="list-group-item">{{ item.texto }} </li>
    
</ul>

<h4 class="mt-2">Template</h4>
<hr>

<ul class="list-group">
    <li *ngFor="let item of templateMenu"
        [routerLink]="[item.ruta]"
        routerLinkActive="active"
        class="list-group-item">{{ item.texto }} </li>
    
</ul>

<h4 class="mt-2">Reactivos</h4>
<hr>

<ul class="list-group">
    <li *ngFor="let item of reactiveMenu"
        [routerLink]="[item.ruta]"
        routerLinkActive="active"
        class="list-group-item">{{ item.texto }} </li>
    
</ul>

<h4 class="mt-2">Selectores</h4>
<hr>